<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    
    @if (showLogin) {
      <div class="login-card">
        <div class="header-section">
          <div class="logo-placeholder">
            <img style="max-width: none; height: 100px; margin-bottom: 10px" src="assets/Brahmadev Constructions.png" alt="">
          </div>
          <h3 ><b>Brahmadev Constructions</b></h3>
          <p class="subtitle">Enter your credentials to continue</p>
        </div>

        <div class="form-section">
          <div class="input-wrapper">
            <ion-icon name="call-outline"></ion-icon>
            <input type="tel" placeholder="Mobile Number" [(ngModel)]="phoneNumber" maxlength="10">
          </div>

          <div class="input-wrapper">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" placeholder="Password" [(ngModel)]="password">
          </div>

          <button class="login-button" (click)="login()" [disabled]="phoneNumber.length !== 10 || password.length === 0 || isLoading">
            @if (!isLoading) {
              <span>Sign In</span>
            } @else {
              <ion-spinner name="crescent"></ion-spinner>
            }
          </button>
          
          <!-- <p class="forgot-password">Forgot Password?</p> -->
        </div>
      </div>
    } @else {
      <div class="loading-state">
        <ion-spinner color="primary"></ion-spinner>
      </div>
    }

  </div>
</ion-content>